<%- include('../partials/header') %>

<h3>Pàgina de consulta</h3>
<h5>Sel·lecciona on vols buscar el camp:</h5>

<div class="container">
  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a id="tab-mv" class="nav-link tab-form">Pel·lícules</a>
        </li>
        <li class="nav-item">
          <a id="tab-tv" class="nav-link tab-form">Sèries</a>
        </li>
        <li class="nav-item">
          <a id="tab-pr" class="nav-link tab-form">Previstes</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <form id="form-mv" class="form-deactive" action="/select/movie" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="titol" placeholder="Títol">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="director" placeholder="Director">
        </div>
        <div class="form-group">
          <input class="form-control" type="number" min="1900" max="9999" step="1" name="date_estrena" placeholder="Any Estrena">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="colleccio" placeholder="Col·lecció">
        </div>
        <div class="form-group">
          <label for="nota">Nota</label>
          <select name="nota">
            <option disabled selected value> -- escull una opció -- </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="imdbcode" placeholder="Codi IMDb">
        </div>
        <div class="form-group">
          <label for="order">Endreça per: </label>
          <select class="" name="order">
            <option value="titol">Títol</option>
            <option value="director">Director</option>
            <option value="any_publicació">Any Estrena</option>
            <option value="col·lecció">Col·lecció</option>
            <option value="rate">Nota</option>
          </select>
          <label for="order_type"> de forma </label>
          <select class="" name="order_type">
            <option value="asc" selected>ascendent</option>
            <option value="desc">descendent</option>
          </select>
        </div>

        <button class="btn btn-primary btn-lg btn-default">Buscar</button>
        <br>
        <a href="/select/movie/all" class="badge badge-pill ensenya">Mostra tot</a>
      </form>

      <form id="form-tv" class="form-deactive" action="/select/tv" method="POST">
        <div class="form-group">
          <input id="titol" class="form-control" type="text" name="titol" placeholder="Títol">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="creador" placeholder="Creador">
        </div>
        <div class="form-group">
          <input class="form-control" type="number" min="1900" max="9999" step="1" name="date_inici" placeholder="Any Inici">
        </div>
        <div class="form-group">
          <input class="form-control" type="number" min="1900" max="9999" step="1" name="date_fi" placeholder="Any Fi">
        </div>
        <div class="form-group">
          <input class="form-control" type="number" min="1" max="9999" step="1" name="temporades" placeholder="Temporades">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="colleccio" placeholder="Col·lecció">
        </div>
        <div class="form-group">
          <label for="nota">Nota:</label>
          <select name="nota">
            <option disabled selected value> -- escull una opció -- </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="imdbcode" placeholder="Codi IMDb">
        </div>
        <div class="form-group">
          <label for="order">Endreça per: </label>
          <select class="" name="order">
            <option value="titol">Títol</option>
            <option value="creador">Creador</option>
            <option value="any_inici">Any Estrena</option>
            <option value="any_final">Any Final</option>
            <option value="temporades">Temporades</option>
            <option value="colleccio">Col·lecció</option>
            <option value="nota">Nota</option>
          </select>
          <label for="order_type"> de forma </label>
          <select class="" name="order_type">
            <option value="asc" selected>ascendent</option>
            <option value="desc">descendent</option>
          </select>
        </div>
        <button class="btn btn-primary btn-lg btn-default">Buscar</button>
        <br>
        <a href="/select/tv/all" class="badge badge-pill ensenya">Mostra tot</a>
      </form>

      <form id="form-pr" class="form-deactive" action="/select/prev" method="post">
        <div class="form-group">
          <input class="form-control" type="text" name="titol" placeholder="Títol">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="director" placeholder="Director/Creador">
        </div>
        <div class="form-group">
          <input class="form-control" type="number" min="1900" max="9999" step="1" name="date_estrena" placeholder="Any Estrena">
        </div>
        <div class="form-group">
          <input class="form-control" type="number" min="0" max="9999" step="1" name="temporades" placeholder="Temporades">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="colleccio" placeholder="Col·lecció">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="imdbcode" placeholder="Codi IMDb">
        </div>
        <div class="form-group">
          <label for="order">Endreça per: </label>
          <select class="" name="order">
            <option value="titol">Títol</option>
            <option value="director_creador">Director / Creador</option>
            <option value="any_publicació">Any Estrena</option>
            <option value="temporades">Temporades</option>
            <option value="col·lecció">Col·lecció</option>
          </select>
          <label for="order_type"> de forma </label>
          <select class="" name="order_type">
            <option value="asc" selected>ascendent</option>
            <option value="desc">descendent</option>
          </select>
        </div>
        <button class="btn btn-primary btn-lg btn-default">Buscar</button>
        <br>
        <a href="/select/prev/all" class="badge badge-pill ensenya">Mostra tot</a>
      </form>
    </div>
  </div>
</div>
<script src="/scripts/script.js"></script>

<%- include('../partials/footer') %>
