<%- include('../partials/header') %>

<div class="row">
  <div class="col">
    <a href="/select" class="text-primary">&#8592 Retrocedeix</a>
    <% if (prev.length > 1) { %>
    <h4>Has obtingut <%= prev.length %> resultats:</h4>
    <% } else { %>
      <h4>Has obtingut un resultat:</h4>
    <% } %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Títol</th>
          <th>Director/Creador</th>
          <th>Any Estrena</th>
          <th>Temporades</th>
          <th>Col·lecció</th>
        </tr>
      </thead>
      <% for (var i = 0; i < prev.length; i++) { %>
      <tr id="<%= prev[i].imdbcode %>" class="data">
        <td class=""><%= prev[i].titol %></td>
        <td class=""><%= prev[i].director_creador %></td>
        <td class=""><%= prev[i].any_publicació %></td>
        <td class=""><%= prev[i].temporades %></td>
        <td class=""><%= prev[i].col·lecció %></td>
      </tr>
      <% } %>
    </table>
    <% if (prev.length > 30) { %>
    <a href="/select" class="text-primary">&#8592 Retrocedeix</a>
    <% } %>
  </div>
</div>

<script type="text/javascript">
  var all = $(".data");

  for (var i = 0; i < all.length; i++) {
    all[i].addEventListener("click", function() {
      var id = this.id;

      if ( $("."+id).length ) {
        $("." + id).remove();

      } else {
        deleteAll();
        var image, imdbRating, title, stars, genres, plot, txt, director = '';

        var xhr = new XMLHttpRequest();
        xhr.onload = function() {
          if (xhr.status === 200) {
            var responseObject = JSON.parse(xhr.responseText);
            if (responseObject[0]==="error") {
              alert("Ho sentim, però ens hem trobat un error. Si vols pots provar-ho més tard\r\n\t\t\t\t\tError: " + responseObject[1].message);
            } else {
              image = responseObject.image;
              imdbRating = responseObject.imDbRating;
              title = responseObject.fullTitle;
              if (responseObject.directors) {
                creator = responseObject.directors;
              } else {
                creator = responseObject.creators
              }
              stars = responseObject.stars;
              genres = responseObject.genres;
              plot = responseObject.plot;
              txt = "<tr id=\"imdbData\" class=\"" + id + " imdbdata\"><td class=\"\" colspan=\"7\"><div class=\"div-imdb\"><a href=\"https://www.imdb.com/title/"+ id +"/\" target=\"_blank\"><img class=\"img-thumbnail img-imdb\" src=\"" + image + "\" alt=\"\" width=\"250\" height=\"auto\"></a><p class=\"rate-imdb\"><strong>Nota IMDb: </strong> <span class=\"fa fa-star checked\"></span><strong>" + imdbRating + "</strong>/10<br><button class=\"badge badge-pill badge-success copy\" title=\"Click to copy\" onclick=\"copyClipboard()\">" + id + "</button></p><p class=\"\" style=\"\"><strong>" + title + "</strong></p><br><p><strong>Director/Creator: </strong>" + creator + "</p><p><strong>Stars: </strong>" + stars + "</p><p><strong>Genres: </strong>" + genres + "</p><p><strong>Plot: </strong>" + plot + "</p></div><% if(currentUser) { %> <a href=\"/edit/prev/" + id + "\" class=\"btn btn-sm btn-warning\">Edit</a><a style=\"margin-left: 10px\" href=\"/del/previstes/" + id + "\" onclick=\"if (!confirm('Are you sure?')) return false;\" class=\"btn btn-sm btn-danger\">Delete</a><div style=\"margin: 10px\"><a href=\"/insert/"+id+"/movie\" style=\"margin-right: 10px\" class=\"btn btn-sm btn-success\">Afegir film</a><a href=\"/insert/"+id+"/tv\" class=\"btn btn-sm btn-success\">Afegir sèrie</a></div><% } %></td></tr>";
              $(txt).insertAfter("#" + id);
            }
          }
        }

        xhr.open("GET", "/imdbcheck/" + id + "", true);
        xhr.send(null);

      }

    });
  };

  function copyClipboard() {
    var copyText = document.querySelector(".copy").innerHTML;

    var input = document.createElement("input");
    input.value = copyText;
    document.body.appendChild(input);
    input.select();
    document.execCommand("copy");
    document.body.removeChild(input);

    var toEdit = document.querySelector(".copy").setAttribute("title","Copied!");

  }

  function deleteAll() {
    var allIMDB = $(".imdbdata");
    allIMDB.remove();
  }

</script>

<%- include('../partials/footer') %>
