<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Cultura Web UI</title>
  <meta charset="utf-8">
  <meta name="author" content="EricMaGo, emarin_dev@emarindev.tk">
  <meta name="description" content="recull de pel·lícules i sèries amb les que passar una bona estona">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/icons/tab.ico">
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap341.min.css">
  <link rel="stylesheet" href="/stylesheets/fontawesome/css/all.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <!-- Matomo -->
  <script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//matomo.emarindev.com/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '2']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->

</head>

<body>
  <nav class="navbar navbar-default" style="background-color: rgba(248, 248, 248, 0.6)">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/">Cultura</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class=""><a href="/select">Consultar</a></li>
          <% if(currentUser){ %>
          <li class=""><a href="/insert">Inserir</a></li>
          <% } %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if(!currentUser){ %>
          <li><a href="/login">Accedir</a></li>
          <% } else { %>
          <li><a class="user-link" style="color: #8e8a8c;">Identificat com a <%= currentUser.username %></a></li>
          <li><a href="/logout">Tanca sessió</a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <% if (error && error.length > 0) { %>
  <div class="container">
    <div class="alert alert-danger" role="alert"><p><i class="bi bi-shield-exclamation"></i> <%= error %> <i class="bi bi-shield-exclamation"></i></p></div>
  </div>
  <% } %>
  <% if (success && success.length > 0) { %>
  <div class="container">
    <div class="alert alert-success" role="alert"></i> <%= success %> </div>
  </div>
  <% } %>

  <div class="container">
