<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Cultura Web UI</title>
  <meta charset="utf-8">
  <meta name="author" content="EricMaGo, emarin_dev@emarindev.tk">
  <meta name="description" content="recull de pel·lícules i sèries amb les que passar una bona estona">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/inside.css">
</head>

<body>
  <header class="jumbotron">
    <div class="container">
      <h1><span>Benvinguts a la CULTURA</span> <i class="bi bi-film"></i></h1>
      <p>Aquí podràs veure un recull de pel·lícules i sèries amb les que passar una bona estona, <br>complementat amb informació extreta de la <a href="https://imdb.com" class="imdb-link">Internet Movie Database</a></p>
    </div>
  </header>

  <% if (currentUser) { %>
  <h1>Identificat correctament!</h1>
  <% } %>
  <h1>Que vols fer?</h1>
  <div class="container container-buttons">
    <div class="row align-items-center">

      <div class="col-md-6 select">
        <a href="/select" class="btn btn-success btn-lg">Consultar</a>
      </div>

      <div class="col-md-6 login">
        <% if (!currentUser) { %>
        <h3 style="text-align: center">Identificat per inserir dades:</h3>
        <form class="" action="/login" method="POST">
          <div class="form-group">
            <input class="form-control" type="text" name="username" placeholder="usuari" required>
          </div>
          <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="contrasenya" required>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Entra</button>
          </div>
        </form>
        <% } else { %>
          <a href="/insert" class="btn btn-info btn-lg">Inserir</a>
        <% } %>
      </div>
    </div>
  </div>

</body>

</html>
