<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Cultura Web UI</title>
  <meta charset="utf-8">
  <meta name="author" content="EricMaGo, emarin_dev@emarindev.tk">
  <meta name="description" content="recull de pel·lícules i sèries amb les que passar una bona estona">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="/icons/tab.ico">
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//matomo.emarindev.com/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '2']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
</head>

<body>
  <header class="jumbotron">
    <div class="container">
      <h1><span>Benvinguts a la CULTURA</span> <i class="bi bi-film"></i></h1>
      <p>Aquí podràs veure un recull de pel·lícules i sèries amb les que passar una bona estona, <br>complementat amb informació extreta de la <a href="https://imdb.com" class="imdb-link" target="_blank">Internet Movie Database</a></p>
    </div>
  </header>

  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 logo">
        <a href="https://gitlab.com/EricMaGo" target="_blank"><img class="" src="/images/logo.jpg" alt="Link Gitlab Logo Black hole"></a>
        <figure class="figure-caption">Feta amb il·lusió per l'<a href="https://gitlab.com/EricMaGo" target="_blank">EricMaGo</a></figure>
      </div>

      <div class="col-md-4 select">
        <a href="/select" class="btn btn-success btn-lg">Consulta les entrades</a>
      </div>

      <div class="col-md-4 login">
        <% if (!currentUser) { %>
        <h3 style="text-align: center">Accedeix per modificar:</h3>
        <form class="" action="/login" method="POST">
          <div class="form-group">
            <input class="form-control" type="text" name="username" placeholder="usuari" required>
          </div>
          <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="contrasenya" required>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Entra</button>
          </div>
        </form>
        <% } else { %>
          <a href="/insert" class="btn btn-info btn-lg">Insereix entrades</a>
        <% } %>
      </div>
    </div>
  </div>

  <footer>
    <p>
      <a href="https://www.gnu.org/licenses/agpl-3.0.html" target="_blank">
        Pàgina sota la
        GNU Affero General Public License
        <img class="gpl" src="https://www.gnu.org/graphics/agplv3-155x51.png" alt="GNU Affero General Public License">
      </a> | <a href="https://twitter.com/EricMaGo_" target="_blank">
        <i class="bi bi-twitter"></i>
        EricMaGo_
      </a> | <a href="https://gitlab.com/EricMaGo" target="_blank">
        <img class="gitlab" src="/images/icons8-gitlab.svg" alt="gitlab logo"></i>
        EricMaGo
      </a> | <a href="mailto:&#x65;&#x6d;&#x61;&#x72;&#x69;&#x6e;&lowbar;&#x64;&#x65;&#x76;&commat;&#x65;&#x6d;&#x61;&#x72;&#x69;&#x6e;&#x64;&#x65;&#x76;&period;&#x74;&#x6b;"><i class="bi bi-at"></i>Contacte</a>
    </p>
  </footer>

</body>

</html>
