<%- include("./partials/header") %>

<div class="container" style="width: 45%; margin: 25px auto">
  <div class="row">
    <h1 style="text-align: center">Accedeix amb perfil d'administrador:</h1>
    <form class="" action="/login" method="POST">
      <div class="form-group">
        <input class="form-control" type="text" name="username" placeholder="usuari" tabindex="1" required>
      </div>
      <div class="form-group">
        <input class="form-control" type="password" name="password" placeholder="contrasenya" tabindex="2" required>
      </div>
      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block">Accedeix</button>
      </div>
    </form>
  </div>
</div>

<%- include("./partials/footer") %>
