<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Cultura Web UI</title>
  <meta charset="utf-8">
  <meta name="author" content="EricMaGo, emarin_dev@emarindev.tk">
  <meta name="description" content="recull de pel·lícules i sèries amb les que passar una bona estona">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
</head>

<body>
  <header class="jumbotron">
    <div class="container">
      <h1><span>Benvinguts a la CULTURA</span> <i class="bi bi-film"></i></h1>
      <p>Aquí podràs veure un recull de pel·lícules i sèries amb les que passar una bona estona, <br>complementat amb informació extreta de la <a href="https://imdb.com" class="imdb-link">Internet Movie Database</a></p>
    </div>
  </header>

  <h2 style="margin: 100px 0 20px 0">Sembla que la pàgina que estas buscant no existeix.</h2>
  <h2>Segur que has escrit bé l'adreça ?</h2>
  <a href="/" class="btn btn-outline-primary btn-lg" style="margin-top: 100px">Torna a l'inici</a>

</body>

</html>
