<%- include("./partials/header") %>

<div class="container" style="width: 30%; margin: 25px auto">
  <div class="row">
    <h1 style="text-align: center">Registrat com a adminstrador:</h1>
    <form class="" action="/register" method="POST">
      <div class="form-group">
        <input class="form-control" type="text" name="username" placeholder="username">
      </div>
      <div class="form-group">
        <input class="form-control" type="password" name="password" placeholder="password">
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block">Registra'm</button>
      </div>
    </form>
  </div>
</div>

<%- include("./partials/footer") %>
