<%- include('../partials/header') %>

<h3>Pàgina d'inserció</h3>
<h5>Sel·lecciona on vols inserir el camp:</h5>

<div class="container">
  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a id="tab-mv" class="nav-link tab-form">Pel·lícules</a>
        </li>
        <li class="nav-item">
          <a id="tab-tv" class="nav-link tab-form">Sèries</a>
        </li>
        <li class="nav-item">
          <a id="tab-pr" class="nav-link tab-form">Previstes</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <form id="form-mv" class="form-deactive" action="insert/movie" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="titol" placeholder="Títol" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="director" placeholder="Director" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="number" min="1900" max="9999" step="1" name="date_estrena" placeholder="Any Estrena" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="colleccio" placeholder="Col·lecció">
        </div>
        <div class="form-group">
          <label for="nota">Nota</label>
          <select name="nota" required>
            <option disabled selected value> -- escull una opció -- </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="imdbcode" placeholder="Codi IMDb" required>
          <a class="checkIMDb btn btn-warning btn-sm validation"><i class="bi bi-lock"> Valida el codi</i></a>
        </div>
        <button class="btn btn-primary btn-lg btn-default submit" disabled>Afegir</button>
      </form>

      <form id="form-tv" class="form-deactive" action="insert/tv" method="POST">
        <div class="form-group">
          <input id="titol" class="form-control" type="text" name="titol" placeholder="Títol" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="creador" placeholder="Creador" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="number" min="1900" max="9999" step="1" name="date_inici" placeholder="Any Inici" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="number" min="1900" max="9999" step="1" name="date_fi" placeholder="Any Fi">
        </div>
        <div class="form-group">
          <input class="form-control" type="number" min="1" max="9999" step="1" name="temporades" placeholder="Temporades" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="colleccio" placeholder="Col·lecció">
        </div>
        <div class="form-group">
          <label for="nota">Nota:</label>
          <select name="nota" required>
            <option disabled selected value> -- escull una opció -- </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="imdbcode" placeholder="Codi IMDb" required>
          <a class="checkIMDb btn btn-warning btn-sm validation"><i class="bi bi-lock"> Valida el codi</i></a>
        </div>
        <button class="btn btn-primary btn-lg btn-default submit" disabled>Afegir</button>
      </form>

      <form id="form-pr" class="form-deactive" action="insert/prev" method="post">
        <div class="form-group">
          <input class="form-control" type="text" name="titol" placeholder="Títol" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="director" placeholder="Director/Creador" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="number" min="1900" max="9999" step="1" name="date_estrena" placeholder="Any Estrena" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="number" min="0" max="9999" step="1" name="temporades" placeholder="Temporades">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="colleccio" placeholder="Col·lecció">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="imdbcode" placeholder="Codi IMDb" required>
          <a class="checkIMDb btn btn-warning btn-sm validation"><i class="bi bi-lock"> Valida el codi</i></a>
        </div>
        <button class="btn btn-primary btn-lg btn-default submit" disabled>Afegir</button>
      </form>

    </div>
  </div>
</div>
<script src="/scripts/script.js"></script>
<script src="/scripts/validation.js" charset="utf-8"></script>


<%- include('../partials/footer') %>
