<%- include('../partials/header') %>

<h3>Afegeix la sèrie:</h3>

<div class="container">
  <div class="row">
    <div class="col">
      <form action="/insert/tv" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="titol" placeholder="Títol" value="<%= tv.titol %>" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="creador" placeholder="Credor" value="<%= tv.director_creador %>" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="number" min="1900" max="9999" step="1" name="date_inici" placeholder="Any Inici" value="<%= tv.any_publicació %>" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="number" min="1900" max="9999" step="1" name="date_fi" placeholder="Any Fi">
        </div>
        <div class="form-group">
          <input class="form-control" type="number" min="0" max="99" step="1" name="temporades" placeholder="Temporades" value="<%= tv.temporades %>" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="colleccio" placeholder="Col·lecció" value="<%= tv.col·lecció %>">
        </div>
        <div class="form-group">
          <label for="nota">Nota</label>
          <select name="nota" required>
            <option disabled <% if(!tv.rate) { %> selected <% } %>value> -- escull una opció -- </option>
            <option <% if(tv.rate === '1') { %> selected <% } %>value="1">1</option>
            <option <% if(tv.rate === '2') { %> selected <% } %>value="2">2</option>
            <option <% if(tv.rate === '3') { %> selected <% } %>value="3">3</option>
            <option <% if(tv.rate === '4') { %> selected <% } %>value="4">4</option>
            <option <% if(tv.rate === '5') { %> selected <% } %>value="5">5</option>
          </select>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="imdbcode" placeholder="Codi IMDB" value="<%= tv.imdbcode %>" required>
          <a class="checkIMDb btn btn-warning btn-sm" style="margin-top: 10px; border-radius: 70%"><i class="bi bi-check-circle"></i></a>
        </div>
        <button class="btn btn-primary btn-lg btn-default submit" disabled>Edita</button>
      </form>
    </div>
  </div>
</div>

<script src="/scripts/validation.js" charset="utf-8"></script>

<%- include('../partials/footer') %>
