html, body {
  height: 100%;
  width: 100%;
  text-align: center;
  background-image: url("/images/background.jpg");
  font-family: Ubuntu, Arial, Times;
}

figure {
  margin-top: 15px;
  font-style: italic;
}

h1 span {
  text-decoration: underline;
}

img {
  width: 175px;
  border-radius: 70%;
}

img:hover {
  transition: 200ms;
  transform: scale(1.05);
  opacity: 0.85;
}

.container-buttons {
  margin-top: 5%;
}

.container-buttons a {
  font-size: 150%;
}


.col-md-4 {
  margin-left: -60px;
  margin-right: 60px;
}

.imdb-link {
  color: #0056b3;
}

.imdb-link:hover {
  color: white;
  text-decoration: none;
}

.jumbotron {
  border-bottom: 3px solid grey;
  border-left: 3px solid grey;
  border-right: 3px solid grey;
  background-color: rgba(147, 55, 170, 0.33);
}

.login {
  border-left: 1px solid grey;
}
