html, body {
  height: 100%;
  width: 100%;
  text-align: center;
  background-image: url("/images/background.jpg");
  font-family: Ubuntu, Arial, Times;
}

figure {
  margin-top: 15px;
  font-style: italic;
}

h1 span {
  text-decoration: underline;
}

img {
  width: 175px;
  border-radius: 70%;
}

img:hover {
  transition: 200ms;
  transform: scale(1.05);
  opacity: 0.85;
}

.col-md-4 {
  margin-left: -60px;
  margin-right: 60px;
}

.imdb-link {
  color: #0056b3;
}

.imdb-link:hover {
  color: white;
  text-decoration: none;
}

.jumbotron {
  border-bottom: 3px solid grey;
  border-left: 3px solid grey;
  border-right: 3px solid grey;
  background-color: rgba(147, 55, 170, 0.33);
}

.login {
  border-left: 1px solid grey;
}

/* FOOTER START */
footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  color: #2c00ffba;
}

footer p a:link {
  color: #2c00ffba;
}

.gpl {
  width: 50px;
  color: #2c00ffba;
}


.gitlab {
  width: 20px;
  height: 20px;
}

/* FOOTER END */
