html, body {
  background-image: url("/images/background.jpg");
  color: black;
  font-family: Ubuntu, Arial, Times;
}

.active {
  background-color: rgba(150, 5, 104, 0.15)
}

.validation {
  margin-top: 10px;
}

.alert-danger {
  background-color: #d44a4a;
  opacity: 0.8;
  color: black;
}

.alert-success {
  background-color: #72e742;
  opacity: 0.8;
  color: black;
}

.checked {
  color: rgb(255, 223, 5);
}

.div-imdb {
  margin-top: 5px;
}

.ensenya {
  margin-top: 15px;
  background-color: rgb(166, 122, 207);
  color: white;
}

.form-deactive {
  display: none;
}

.img-imdb {
  float: left;
  margin-right: 25px;
}

.nav-item:hover {
  cursor: pointer;
}

.nav-link {
  color: black;
}

.rate-imdb {
  float: right;
  margin-right: 100px;
}

.user-link:hover {
  cursor: default;
}
