<%- include('../partials/header') %>

<h3>Edita la pel·lícula:</h3>

<div class="container">
  <div class="row">
    <div class="col">
      <form action="/edit/movie/<%= movie.imdbcode %>" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="titol" placeholder="Títol" value="<%= movie.titol %>" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="director" placeholder="Director" value="<%= movie.director %>" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="number" min="1900" max="9999" step="1" name="date_estrena" placeholder="Any Estrena" value="<%= movie.any_publicació %>" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="colleccio" placeholder="Col·lecció" value="<%= movie.col·lecció %>">
        </div>
        <div class="form-group">
          <label for="nota">Nota</label>
          <select name="nota" required>
            <option disabled <% if(!movie.rate) { %> selected <% } %>value> -- escull una opció -- </option>
            <option <% if(movie.rate === '1') { %> selected <% } %>value="1">1</option>
            <option <% if(movie.rate === '2') { %> selected <% } %>value="2">2</option>
            <option <% if(movie.rate === '3') { %> selected <% } %>value="3">3</option>
            <option <% if(movie.rate === '4') { %> selected <% } %>value="4">4</option>
            <option <% if(movie.rate === '5') { %> selected <% } %>value="5">5</option>
          </select>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="imdbcode" placeholder="Codi IMDb" value="<%= movie.imdbcode %>" required>
          <a class="checkIMDb btn btn-warning btn-sm" style="margin-top: 10px; border-radius: 70%"><i class="bi bi-check-circle"></i></a>
        </div>
        <button class="btn btn-primary btn-lg btn-default submit" disabled>Envia</button>
      </form>
    </div>
  </div>
</div>

<script src="/scripts/validation.js" charset="utf-8"></script>

<%- include('../partials/footer') %>
