<%- include('../partials/header') %>

<h3>Edita el camp:</h3>

<div class="container">
  <div class="row">
    <div class="col">
      <form action="/edit/prev/<%= prev.imdbcode %>" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="titol" placeholder="Títol" value="<%= prev.titol %>">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="director_creador" placeholder="Director/Creador" value="<%= prev.director_creador %>">
        </div>
        <div class="form-group">
          <input class="form-control" type="number" min="1900" max="9999" step="1" name="date_estrena" placeholder="Any Estrena" value="<%= prev.any_publicació %>">
        </div>
        <div class="form-group">
          <div class="form-group">
            <input class="form-control" type="number" min="0" max="9999" step="1" name="temporades" placeholder="Temporades" value="<%= prev.temporades %>">
          </div>
          <div class="form-group">
            <input class="form-control" type="text" name="colleccio" placeholder="Col·lecció" value="<%= prev.col·lecció %>">
          </div>
          <div class="form-group">
            <input class="form-control" type="text" name="imdbcode" placeholder="Codi IMDb" value="<%= prev.imdbcode %>">
            <a class="checkIMDb btn btn-warning btn-sm" style="margin-top: 10px; border-radius: 70%"><i class="bi bi-check-circle"></i></a>
          </div>
          <button class="btn btn-primary btn-lg btn-default submit" disabled>Envia</button>
      </form>
    </div>
  </div>
</div>

<script src="/scripts/validation.js" charset="utf-8"></script>

<%- include('../partials/footer') %>
